
<div class="container">
  <h2 style="text-align: center;">Welcome To PA YOUTH VOTE GPT</h2>
  <br>

  <h3 style="text-align: center;">Unlock Your Voice: Pennsylvania's Youth Voting Hub!</h3>
  
  <div>
    <br>
    <h3 style="color: orange; text-align: justify;"></h3>
  </div>
<br><br>
  <div>
    <p style="font-size: larger;">
     Let Your Vote Shape Our Future!
Your Ballot, Your Change!
Rock the Vote, Pennsylvania Style!
Your Vote, Your Vision: Paint the Future of Pennsylvania!
Charting the Course with Your Vote! Register Yourself For Voting =><a href="#" [routerLink]="['/registration']" routerLinkActive="router-link-active" >Register</a>
    </p>
  </div>
  <br>
  <p style="text-align: center;"><img src="assets/pa4.jpg" class="img-fluid">"</p>
</div>
